/* // */

@import url('https://fonts.googleapis.com/css2?family=Montez&display=swap');

.custom-font {
  font-family: "Montez", cursive;
  font-weight: 900;
  font-style: normal;
}


.navbar-area,
.navbar-area.sticky {
  z-index: 99;
  transition: all .3s ease-out 0s;
  padding: 0;
}

.navbar-area {
  width: 100%;
  border-bottom: 1px solid #eee;
}

.header {
  background: #fff;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
}

.header .header-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

@media (max-width: 767px) {
  .header .navbar-brand {
    display: block;
    text-align: left;
    padding: 0;
  }
}

.header .navbar-brand {
  margin: 0;
}

.header .navbar-brand img {
  width: 220px;
}

img {
  max-width: 100%;
}

@media (max-width: 767px) {
  .header .navbar-brand img {
    width: 180px;
  }

  .custom-font {
    font-size: 30px;
  }
}