.form {
  margin: 1rem 0;
  height: auto;
  overflow: auto;
}

.control {
  margin-bottom: 0.5rem;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  display: block;
  color: hsl(var(--foreground));
}

.control input,
.control textarea {
  font: inherit;
  border: 1px solid hsl(var(--border));
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  border-radius: 4px;
  width: 100%;
  padding: 0.25rem;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

.actions button {
  font: inherit;
  font-size: 0.75rem;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid hsl(var(--primary));
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
  color: hsl(var(--primary));
}

.actions button:hover,
.actions button:active {
  background-color: hsl(var(--primary));
  border-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
}

.actions .submit {
  border-color: hsl(var(--primary));
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
}

.invalid label {
  color: hsl(var(--destructive));
}

.invalid input {
  border-color: hsl(var(--destructive));
  background-color: hsla(var(--destructive), 0.1);
}

.control p {
    color: hsl(var(--destructive));
    font-size: 0.75rem;
}
