/* Base styles for the buttons */
.custom-button {
  font-weight: 700;
  border-radius: 4px;
  font-size: 16px !important;
  padding: 3px 12px !important;
}

/* Styles for Desktop/Laptop */
@media (min-width: 1024px) {
  .custom-button {
    font-size: 16px !important;
    padding: 4px 18px !important;
  }
}

/* Styles for Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .custom-button {
    font-size: 14px !important;
    padding: 3px 12px !important;
  }
}

/* Styles for Mobile */
@media (max-width: 767px) {
  .custom-button {
    font-size: 12px !important;
    padding: 3px 12px !important;
  }
}